<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="js/angular.min.js"></script>
   	<link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="icon" href="images/icon.png"/>
    <script type="text/javascript" src="js/controller.js"></script>  
    <script type="text/javascript" src="angular-xeditable/js/xeditable.js"></script>
    <link rel="stylesheet" type="text/css" href="angular-xeditable/css/xeditable.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
    <title>CV-1312055</title>
</head>

<body ng-app="myApp" class="main-body">
	<header>
        <div class="header-banner"> 
        	<div class="wrapper">
                <div class="header-logo">
                    <a href="http://www.linkedin.com/"><img src="images/logo.png"/></a>
                </div>
                
                <div class="header-nav">
                    <ul class="nav-right">
                        <li>
                            <a href="http://www.linkedin.com/static?key=what_is_linkedin&amp;trk=hb_what">
                            What's the LinkedIn?
                            </a>
                        </li>
                        <li>
                            <a href="/start/join?trk=hb_join">
                            Register
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/uas/login?goback=&amp;trk=hb_signin">
                            Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    
	<main ng-controller="myController">
    
    	<!--left-->
    	<div class="profile" ng-model="person">
        	
        	<div class="topcard">
            
            
            	<div class="avatar">
                    <a href="https://www.linkedin.com/start/view-full-profile?_ed=0_bKBkcZ6t9p27QdIgoeLUuXkzX1gSSl_qdqwwJvSV0YG4ygi9WuSZ6sgPiZqmtjjZ&trk=pprof-0-ts-view_full-0">
                        <img src="images/avatar.jpg" width="200" height="200"/>
                    </a>
                </div>
                
                
                <div class="info" >
                
                	<div  >
                        <div style="font-size: 28px; font-weight: bold" editable-text="person.name" e-form="btnName">
                        	{{person.name}}
                        	<a href="#">
                            	<img src="images/Edit.ico" width="10" height="10" ng-click="btnName.$show()" ng-hide="btnName.$visible"/>
                            </a>
                        </div>
                        <div style="font-size: 20px" editable-text="person.branch" e-form="btnBranch">
                        	{{person.branch}}
                            <a href="#">
                            	<img src="images/Edit.ico" width="10" height="10" ng-click="btnBranch.$show()" ng-hide="btnBranch.$visible"/>
                            </a>
                        </div>
                        <div style="font-size:16px; margin-bottom: 10px" >
                        	<span editable-text="person.country" e-form="btnCountry">
                            	{{person.country}}
                            </span>
                            <a href="#">
                            	<img src="images/Edit.ico" width="10" height="10" ng-click="btnCountry.$show()" ng-hide="btnCountry.$visible"/>
                            </a>
                        	 | 
                            <span editable-text="person.speciality" e-form="btnSpeciality">
                            	{{person.speciality}}
                            </span>
                            <a href="#">
                            	<img src="images/Edit.ico" width="10" height="10" ng-click="btnSpeciality.$show()" ng-hide="btnSpeciality.$visible"/>
                            </a>
                        </div>
                        
                        
                        
                        <table class="table-detail">
                            <tr>
                                <td>University</td>
                                <td>
                                    <a href="http://www.hcmus.edu.vn/" style="text-decoration: none" editable-text="person.university" e-form="btnUniversity">
                                    	{{person.university}}
                                    </a> 
                                   	
                                </td>		
                                <td>
                                	<a href="#">
                                        <img src="images/Edit.ico" width="10" height="10" ng-click="btnUniversity.$show()" ng-hide="btnUniversity.$visible"/>
                                    </a>
                                </td>
                            </tr>
                            
                           
                            <tr>
                                <td>Education</td>
                                <td >
                                	<span editable-text="person.education" e-form="btnEducation">                                    
	                                	{{person.education}}
                                    </span>
                                </td>		
                                <td>
                                	<a href="#">
                                        <img src="images/Edit.ico" width="10" height="10" ng-click="btnEducation.$show()" ng-hide="btnEducation.$visible"/>
                                    </a>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>Phone</td>
                                <td >
                                	<span editable-text="person.phone" e-form="btnPhone">
                                		{{person.phone}}
                                    </span>
                                </td>		
                                <td>
                                	<a href="#">
                                        <img src="images/Edit.ico" width="10" height="10" ng-click="btnPhone.$show()" ng-hide="btnPhone.$visible"/>
                                    </a>
                                </td>
                            </tr>
                            
                           
                        </table>

                    </div>
                    
                   
                    
                </div>
                
                
                
                 <a href="https://www.linkedin.com/today/influencers?trk=inf_bdg_profile">
                    <img src="images/logo2.png" width="92" height="22" />
                </a>
                
            </div>
            
            <div class="background">
            	Background
            </div>
            
            <div class="summary">
            	<p class="title">Summary</p>
                <p  editable-textarea="person.summary" e-form="textBtnForm1" e-rows="4" e-cols="80">{{person.summary}}</p>
                <button class="btn btn-default" ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible">Edit</button>
            </div>
            
            <div class="summary">
            	<p class="title">Experience</p>
                <p editable-textarea="person.experience" e-form="textBtnForm2" e-rows="4" e-cols="80">{{person.experience}}</p>
                <button class="btn btn-default" ng-click="textBtnForm2.$show()" ng-hide="textBtnForm2.$visible">Edit</button>
            </div>
            
            <div class="summary">
            	<p class="title">Project</p>
                <p editable-textarea="person.project" e-form="textBtnForm3" e-rows="4" e-cols="80">{{person.project}}</p>
                <button class="btn btn-default" ng-click="textBtnForm3.$show()" ng-hide="textBtnForm3.$visible">Edit</button>
            </div>
            
            <div class="summary">
            	<p class="title">Skills</p>
                <p>Understanding the types:</p>
                <ul>
                	<li editable-textarea="person.skills" e-form="textBtnForm4" e-rows="4" e-cols="80">{{person.skills}}</li>
                </ul>
                <button class="btn btn-default" ng-click="textBtnForm4.$show()" ng-hide="textBtnForm4.$visible">Edit</button>
            </div>
           	
            
            <div class="summary">
            	<p class="title">Education</p>
                <p><span editable-textarea="person.education" e-form="textBtnForm5" e-rows="4" e-cols="80">{{person.education}}</span></p>
                <button class="btn btn-default" ng-click="textBtnForm5.$show()" ng-hide="textBtnForm5.$visible">Edit</button>
            </div>
           

         
        </div>
        
       <!-- right-->
      	<div class="aux">
        	<div class="search">
                <div class="">Search</div>
                <input ng-model="search" type="text" style="float: left"/>
                <a href="#"><img   src="images/timkiem.png" width="25" height="25" style="float: left"/></a>
                <div style="clear: both"></div>
                <div>Example: Xuan Chuong</div>
            </div>
            
            <div class="photo">
                <img src="images/images.jpg" width="300" height="168"/>
            </div>
            
            <div class="photo">
                <img src="images/curious-kittens.jpg" width="300" height="168"/>
            </div>
            
            <div class="photo">
                <img src="images/phongcanh.jpg" width="300" height="168"/>
            </div>
          	
            <div class="photo">
                <img src="images/images2.jpg" width="300" height="168"/>
            </div>
            
            <div class="photo">
                <img src="images/images4.jpg" width="300" height="168"/>
            </div>
       
            
        </div>
        
        
        
        <div class="clearfloat"></div>
        
    </main>
    
    <footer>
		The end!
    </footer>
    
    
    
    
    
	
</body>
</html>
